#params-container {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
  }
  #params-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #params-container label span {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 0.72px;
  
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  #params-container h2 {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  input[type="radio"] {
    display: none; /* Hide the native radio button */
  }
  label.radio-custom {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .color-block {
    pointer-events: none;
  }
  
  .radio-value {
    font-size: 12px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .radio-button {
    display: flex;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 0.8px solid black;
    border-radius: 20px;
  }
  
  
  input[type="radio"]:checked + .radio-button {
    background-color: black;
  }
  

.button{
  font-family:'Courier New', Courier, monospace;
  font-size:8px;
  position: relative;
  top: -20px;
  left: 10px;
  text-decoration: underline;
  background-color: #000;
  color: white;
  padding: 2px 4px;

}
#selected-colors-container{
  position: relative;
}
#selected-colors-container .button{
  top: 18px;
  left: 100px;

  position: absolute;
}

.saved-color{
  position: relative;
  /* left: -35px;
  top: 10px; */
}

.button:hover{
  font-style: italic;
  border: .31px solid black;
}
.button:active{
  background-color: #000;
  color: white;
}
 
.popup-container{
    /* background-color: blue; */
    position: fixed;
    width: 100vw;
    right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 20;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);  

    pointer-events: auto;
 }


 #close_popup{
  position: absolute;
 }

.collection-popup{
  width: 80%;
  min-height: 50vh;
  height: fit-content;
  position: relative;
  padding: 30px;
  top: -50px;

  background-color: #EBE8E4;
  border: .5px solid black;
  pointer-events: auto;
}

.color-popup{
  width: 80vw;
  min-height: 80vh;
  /* z-index: 80; */
  background-color: #ebe8e4e8;
  /* border: .5px solid black; */
}
.html-plot-container{
  z-index: 5;
}