*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #EBE8E4;
}
.svg-no-select {
    user-select: none;  /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
  }
#side-panel{
    /* width: 30vw; */
    position: fixed;
    left:0px;
    top:0px;
    z-index: 6;
    height: 100vh;
    background-color: #EBE8E4;
    box-shadow: 0px 4px 30.2px 0px rgba(216, 209, 199, 0.49);
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-evenly;
}

#side-panel .title{
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.48px;
}

#side-panel .subtitle{
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.48px;
}



#selected-colors-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2px;
    width: 100%;
    height: fit-content;
    overflow-y: auto;

}

.saved-color{
    border: .1px solid black;
   
}


#selected-swatches-container{
    /* border: .1px solid black; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 80%;
    height: 20vh;
    overflow-y: auto;
    position: relative;
}

#selected-swatches-container h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: 100;
    position: relative; 
    top: -20px;
  
    
}

#selected-colors-container h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: 100;
    position: relative; 
    width: 100%;

}

.popup-container{
    position: fixed;
    z-index: 10;
    width: fit-content;
    
    
}

.collection-popup{
    width: 400px;
    min-height: 30vh;
    height: fit-content;
    padding: 30px;

    background-color: rgb(243, 243, 243);
}

.swatches-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: space-evenly;
}
#close_popup{
    font-family: Futura PT;
    position: absolute;

    font-size: 10px;
    top: 10px;
    right: 10px;
}

.text-blur{
    position: absolute;
    z-index: -1;
    background-color: red;
    width: 100px;
    height: 200px;
    top: 20px;
}

svg{
    /* background-color: blue; */
    position: absolute;
    right: 0px;
    z-index: 5;
}

.html-plot-container{
    position: absolute;
    top:0px;
    right: 0px;
    /* background-color: black; */
}
.outerNode {
    position: absolute;
    pointer-events:none;
    border-radius: 50%;
    pointer-events: none;
    background-color: #ebe8e445;
    /* fill: radial-gradient(53.5% 53.5% at 48.84% 46.51%, rgba(251, 195, 7, 0.13) 0%, rgba(149, 116, 4, 0.00) 100%); */
    
    z-index: 10;
    border: 1px solid black;

    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);  
    /* display: none; */
}

#test-container{
    position: absolute;
    right:0px;
    /* background-image:url('./testimg.png') */



}

/* .blur-work{
    fill: rgba(0, 0, 0, 0.102);
    backdrop-filter: blur(20px);
    width: 75vw;
    height: 100vh;
    position: absolute;
    right:0px;
    z-index: 20;
    -webkit-backdrop-filter: blur(23.3px);  

} */


#map{
    width: 100%;
    height: 100%;
    background-color: 'green'!important;
}

.html-plot-container{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.selection-box{
    stroke-dasharray: 5,5;
}

.tooltip{
    font-family: 'Courier New', Courier, monospace;
    font-size:10px;
    background-color: black;
    color: white;
}